@model cinema.Models.Pelicula

@{
    ViewBag.Title = "Aleatorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<table border="1" cellpadding="15">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>GENERO</th>
            <th>AÑO DE LANZAMIENTO</th>
            <th>CLASIFICACION</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">@Model.Id</td>
            <td>@Model.Nombre</td>
            <td>@Model.Genero</td>
            <td align="center">@Model.Año_Lanzamiento</td>
            <td align="center">@Model.Clasificacion</td>
        </tr>
    </tbody>
</table>
